* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    background-image: url(../img/depositphotos_191819154-stock-photo-background-mixing-bright-pale-blue.jpg);
    position: relative;
    height: 100vh;
    background-size: 400%;
    background-repeat: no-repeat;
    padding-top: 20px;
}
.MuiFormLabel-root {
    color: white !important;
}
.MuiInput-underline:after {
    border-bottom: 2px solid white !important;
}
.MuiInputBase-input {
    color: white!important;
}
.wrapper {
    width: 700px;
    height: 94vh;
    margin: auto;
    color: #fff;
    border-radius: 23px 23px 23px 23px;
    background: rgba(0, 0, 0, 0.5);
}
@import "_header.scss";
@import "_temperature.scss";
@import "_weather.scss";
@import "_favoriteLocation.scss";
@import "_LoadingWindow.scss";
@import "_media.scss";
